* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}

.hero,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

nav {
  justify-content: space-between;
  padding: 12px 0;
  margin-bottom: 56px;
}

ul {
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  padding-bottom: 48px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.call-to-action {
  gap: 48px;
}

.left {
  flex-direction: column;
}

.hero-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  display: block;
  margin-bottom: 8px;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  display: block;
  margin-bottom: 16px;
}

.right img {
  height: 240px;
  width: 450px;
}

.left > button {
  background-color: rgb(0, 102, 255);
  color: #e5e7eb;
  padding: 8px 24px;
  border-radius: 8px;
}

.info {
  flex-direction: column;
  margin: 48px auto;
}

.info-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 24px;
}

.boxes {
  justify-content: space-evenly;
  gap: 36px;
}

.item {
  flex-direction: column;
  text-wrap: wrap;
  gap: 8px;
}

.item span {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 72px 0;
}

.quoted {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  display: block;
}

.author {
  justify-content: flex-end;
  font-weight: 600;
  font-size: 24px;
}
